@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-clr: #202124;
  --clr: #e8eaed;
  --fw-normal: 200;
  --fw-bold: 500;
  --ff-text: "Karla";
}

.login-btn {
  position: absolute;
  top: 40%;
  left: 30%;
  background: var(--clr);
  color: var(--bg-clr);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 100vw;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

body {
  background: var(--bg-clr);
  color: var(--clr);
  font-family: var(--ff-text), sans-serif;
  font-weight: var(--fw-normal);
  font-size: 110%;
}

.current-track {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 20;
  background: var(--clr);
  color: var(--bg-clr);
  padding: 0.75rem;
}

.content {
  position: relative;
  padding: 1rem;
}

input,
button {
  background: var(--bg-clr);
  color: var(--clr);
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(32,33,36);
  background: linear-gradient(0deg, rgba(32,33,36,0) 0%, rgba(32,33,36,1) 15%);
  padding: 1.7rem 2.5rem 3rem 0;
}

input {
  width: 75%;
  border-bottom: 1px solid var(--clr);
}

input:focus {
  outline: none;
}

.search > button {
  position: absolute;
  right: 3rem;
  border-radius: 100vw;
  background: var(--clr);
  width: 2rem;
  height: 2rem;
}


.title {
  font-weight: var(--fw-bold);
}

.artists {
  font-size: 80%;
}

.results {
  margin: 5rem 0;
}

.searched-track {
  margin-bottom: 0.5rem;
}









